
html,body{
  height: 100%;
  margin: 0;
  background-color: #182130;
}
#root{
  min-height: 100%
}

#main-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
}
#text-input{
  font-size: larger;
  color: white;
  text-align: center;

  margin: auto;
  width: 80%;


  margin-top: 25px;
  border-radius: 10px;
  border: none;
  background-color: #132030;
  outline: none;
  padding: 3vw;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
#text-input::-webkit-scrollbar {
  display: none;
}

#text-container{
  opacity: 0.98;
  margin: auto;
  width: 80%;
  border-radius: 10px;
  background-color: #121a25;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 10px;
}
#button-container{
  display: flex;
  flex-direction: row;
  align-content: center;
  padding-top: 10px;
}
.btn{
  outline: none;
  font-weight: 700;
  border: none;
  padding: 10px;
  margin: auto;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}
#reset-button{
  background-color: #e33f5a;
  background-image: url(./images/restart.png);
}
#submit-button{
  background-color: #2b507c;
  background-image: url(./images/check.png);
}
#footer{
  font-size: smaller;
  color: white;
  text-align: center;
}
#footer a{
  color: white;
}